body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("./assets/bg.jpg"); */
  background: #0f0e13;
  color: #fff;
  padding: 2rem 7rem;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-gradient {
  background-color: #0f0e13;
  background-image: linear-gradient(141.55deg, #f60 -3.79%, #2042b8 82.82%);
  color: #fff;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-weight: 600;
}

.text-gradient {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(145deg, #2042b8 10.3%, #f60 117.2%);
  background-clip: text;
  -webkit-background-clip: text;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-18 {
  margin-top: 18rem;
}

.mt-4 {
  margin-top: 4rem;
}

.about .content {
  font-size: 2rem;
}

button,
.cursor-pointer {
  cursor: pointer;
}
.fs-3 {
  font-size: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.text-light {
  color: #7b5282;
}

.steps {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5rem;
}

.mintingForm {
  background: #fff;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #6b7280;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
}

.fs-4 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  body {
    padding: 2rem;
  }
  .mt-8 {
    margin-top: 2rem;
  }
  .header h1 {
    font-size: 1rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .fs-4 {
    font-size: 3rem;
  }
  .steps {
    display: grid;
    grid-template-columns:  1fr;
    gap: 2rem;
  }
  .mt-4 {
    margin-top: 2rem;
}
}
